USE [master]
GO
/****** Object:  Database [SimplifAI]    Script Date: 28-08-2025 01:35:14 ******/
CREATE DATABASE [SimplifAI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SimplifAI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER04\MSSQL\DATA\SimplifAI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SimplifAI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER04\MSSQL\DATA\SimplifAI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SimplifAI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SimplifAI]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 28-08-2025 01:35:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documents]    Script Date: 28-08-2025 01:35:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documents](
	[Id] [uniqueidentifier] NOT NULL,
	[FormId] [uniqueidentifier] NOT NULL,
	[DocumentType] [nvarchar](50) NOT NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[FilePath] [nvarchar](500) NOT NULL,
	[FileSize] [bigint] NOT NULL,
	[ContentType] [nvarchar](100) NOT NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
	[VerificationStatus] [nvarchar](50) NOT NULL,
	[ConfidenceScore] [decimal](5, 2) NULL,
	[IsBlurred] [bit] NOT NULL,
	[IsCorrectType] [bit] NOT NULL,
	[VerificationDetails] [nvarchar](max) NULL,
	[StatusColor] [nvarchar](10) NULL,
 CONSTRAINT [PK_Documents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailLogs]    Script Date: 28-08-2025 01:35:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailLogs](
	[Id] [uniqueidentifier] NOT NULL,
	[EmailQueueId] [uniqueidentifier] NOT NULL,
	[ToEmail] [nvarchar](255) NOT NULL,
	[Subject] [nvarchar](500) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[AttemptedAt] [datetime2](7) NOT NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[ErrorDetails] [nvarchar](max) NULL,
	[AttemptNumber] [int] NOT NULL,
	[SmtpResponse] [nvarchar](max) NULL,
	[Duration] [time](7) NULL,
	[Success] [bit] NOT NULL,
	[SentAt] [datetime2](7) NULL,
 CONSTRAINT [PK_EmailLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailQueue]    Script Date: 28-08-2025 01:35:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailQueue](
	[Id] [uniqueidentifier] NOT NULL,
	[ToEmail] [nvarchar](255) NOT NULL,
	[Subject] [nvarchar](500) NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[IsHtml] [bit] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[RetryCount] [int] NOT NULL,
	[MaxRetries] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[SentAt] [datetime2](7) NULL,
	[NextRetryAt] [datetime2](7) NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[LastErrorDetails] [nvarchar](max) NULL,
	[FormId] [uniqueidentifier] NULL,
	[Priority] [int] NOT NULL,
	[ScheduledFor] [datetime2](7) NULL,
 CONSTRAINT [PK_EmailQueue] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Forms]    Script Date: 28-08-2025 01:35:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Forms](
	[Id] [uniqueidentifier] NOT NULL,
	[UniqueUrl] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[SubmittedAt] [datetime2](7) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[RecruiterEmail] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Forms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonalInfo]    Script Date: 28-08-2025 01:35:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonalInfo](
	[Id] [uniqueidentifier] NOT NULL,
	[FormId] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](500) NULL,
	[DateOfBirth] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_PersonalInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250826140843_InitialCreate', N'6.0.36')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250826141015_CreateDocumentVerificationSchema', N'6.0.36')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250826164802_AddEmailQueueAndLogging', N'6.0.36')
GO
INSERT [dbo].[Forms] ([Id], [UniqueUrl], [CreatedAt], [SubmittedAt], [Status], [RecruiterEmail]) VALUES (N'11111111-1111-1111-1111-111111111111', N'test-form-1', CAST(N'2025-08-27T15:14:54.4269223' AS DateTime2), NULL, N'Pending', N'recruiter1@test.com')
INSERT [dbo].[Forms] ([Id], [UniqueUrl], [CreatedAt], [SubmittedAt], [Status], [RecruiterEmail]) VALUES (N'5f769554-4623-4980-9d3a-12209ed720cc', N'form-1756322992-VrOnkIate9mu1XMuH3moI83N_17wVevoaKYHESIT37U', CAST(N'2025-08-27T19:29:52.2201082' AS DateTime2), NULL, N'Pending', N'demo@example.com')
INSERT [dbo].[Forms] ([Id], [UniqueUrl], [CreatedAt], [SubmittedAt], [Status], [RecruiterEmail]) VALUES (N'8a57f78a-91a8-40f0-b917-1f5b39377741', N'form-1756324060-EPMjf8uhlogN7LNFrQ7nxyzwHGQ_EeypTOoxrCDVfWQ', CAST(N'2025-08-27T19:47:40.8830902' AS DateTime2), NULL, N'Pending', N'demo@example.com')
GO
INSERT [dbo].[PersonalInfo] ([Id], [FormId], [FirstName], [LastName], [Email], [Phone], [Address], [DateOfBirth], [CreatedAt], [UpdatedAt]) VALUES (N'b116b4ee-b6f0-4dbc-8fd5-01326cc4dbf3', N'5f769554-4623-4980-9d3a-12209ed720cc', N'Meet', N'Patel', N'meetpatel.ict17@gmail.com', N'09426729604', N'Near Gota Bridge
E 1003 Shaligram Square', CAST(N'1999-10-06T18:30:00.0000000' AS DateTime2), CAST(N'2025-08-27T19:30:02.5516100' AS DateTime2), NULL)
INSERT [dbo].[PersonalInfo] ([Id], [FormId], [FirstName], [LastName], [Email], [Phone], [Address], [DateOfBirth], [CreatedAt], [UpdatedAt]) VALUES (N'11078023-bd68-488a-bf6b-111350d4ec43', N'75639968-dd83-41fa-92cc-2b4dbc1cccc6', N'Meet', N'Patel', N'meetpatel.ict17@gmail.com', N'09426729604', N'Near Gota Bridge
E 1003 Shaligram Square', CAST(N'1999-10-06T18:30:00.0000000' AS DateTime2), CAST(N'2025-08-27T16:29:19.0579204' AS DateTime2), NULL)
INSERT [dbo].[PersonalInfo] ([Id], [FormId], [FirstName], [LastName], [Email], [Phone], [Address], [DateOfBirth], [CreatedAt], [UpdatedAt]) VALUES (N'bf725c2c-8c94-4d04-ba0f-132231b1e66f', N'4e02b6d3-ff94-45e4-96d3-3c2566da8854', N'Meet', N'Patel', N'meetpatel.ict17@gmail.com', N'09426729604', N'Near Gota Bridge
E 1003 Shaligram Square', CAST(N'1999-10-06T18:30:00.0000000' AS DateTime2), CAST(N'2025-08-27T18:54:32.6730548' AS DateTime2), NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Documents_DocumentType]    Script Date: 28-08-2025 01:35:14 ******/
CREATE NONCLUSTERED INDEX [IX_Documents_DocumentType] ON [dbo].[Documents]
(
	[DocumentType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Documents_FormId]    Script Date: 28-08-2025 01:35:14 ******/
CREATE NONCLUSTERED INDEX [IX_Documents_FormId] ON [dbo].[Documents]
(
	[FormId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Documents_FormId_DocumentType]    Script Date: 28-08-2025 01:35:14 ******/
CREATE NONCLUSTERED INDEX [IX_Documents_FormId_DocumentType] ON [dbo].[Documents]
(
	[FormId] ASC,
	[DocumentType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Documents_UploadedAt]    Script Date: 28-08-2025 01:35:14 ******/
CREATE NONCLUSTERED INDEX [IX_Documents_UploadedAt] ON [dbo].[Documents]
(
	[UploadedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Documents_VerificationStatus]    Script Date: 28-08-2025 01:35:14 ******/
CREATE NONCLUSTERED INDEX [IX_Documents_VerificationStatus] ON [dbo].[Documents]
(
	[VerificationStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Documents_VerificationStatus_UploadedAt]    Script Date: 28-08-2025 01:35:14 ******/
CREATE NONCLUSTERED INDEX [IX_Documents_VerificationStatus_UploadedAt] ON [dbo].[Documents]
(
	[VerificationStatus] ASC,
	[UploadedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmailLogs_AttemptedAt]    Script Date: 28-08-2025 01:35:14 ******/
CREATE NONCLUSTERED INDEX [IX_EmailLogs_AttemptedAt] ON [dbo].[EmailLogs]
(
	[AttemptedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmailLogs_EmailQueueId]    Script Date: 28-08-2025 01:35:14 ******/
CREATE NONCLUSTERED INDEX [IX_EmailLogs_EmailQueueId] ON [dbo].[EmailLogs]
(
	[EmailQueueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmailLogs_EmailQueueId_AttemptedAt]    Script Date: 28-08-2025 01:35:14 ******/
CREATE NONCLUSTERED INDEX [IX_EmailLogs_EmailQueueId_AttemptedAt] ON [dbo].[EmailLogs]
(
	[EmailQueueId] ASC,
	[AttemptedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmailLogs_Success]    Script Date: 28-08-2025 01:35:14 ******/
CREATE NONCLUSTERED INDEX [IX_EmailLogs_Success] ON [dbo].[EmailLogs]
(
	[Success] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmailQueue_CreatedAt]    Script Date: 28-08-2025 01:35:14 ******/
CREATE NONCLUSTERED INDEX [IX_EmailQueue_CreatedAt] ON [dbo].[EmailQueue]
(
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmailQueue_FormId]    Script Date: 28-08-2025 01:35:14 ******/
CREATE NONCLUSTERED INDEX [IX_EmailQueue_FormId] ON [dbo].[EmailQueue]
(
	[FormId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmailQueue_Priority]    Script Date: 28-08-2025 01:35:14 ******/
CREATE NONCLUSTERED INDEX [IX_EmailQueue_Priority] ON [dbo].[EmailQueue]
(
	[Priority] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmailQueue_ScheduledFor]    Script Date: 28-08-2025 01:35:14 ******/
CREATE NONCLUSTERED INDEX [IX_EmailQueue_ScheduledFor] ON [dbo].[EmailQueue]
(
	[ScheduledFor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_EmailQueue_Status]    Script Date: 28-08-2025 01:35:14 ******/
CREATE NONCLUSTERED INDEX [IX_EmailQueue_Status] ON [dbo].[EmailQueue]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_EmailQueue_Status_Priority_CreatedAt]    Script Date: 28-08-2025 01:35:14 ******/
CREATE NONCLUSTERED INDEX [IX_EmailQueue_Status_Priority_CreatedAt] ON [dbo].[EmailQueue]
(
	[Status] ASC,
	[Priority] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Forms_CreatedAt]    Script Date: 28-08-2025 01:35:14 ******/
CREATE NONCLUSTERED INDEX [IX_Forms_CreatedAt] ON [dbo].[Forms]
(
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Forms_RecruiterEmail]    Script Date: 28-08-2025 01:35:14 ******/
CREATE NONCLUSTERED INDEX [IX_Forms_RecruiterEmail] ON [dbo].[Forms]
(
	[RecruiterEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Forms_RecruiterEmail_Status]    Script Date: 28-08-2025 01:35:14 ******/
CREATE NONCLUSTERED INDEX [IX_Forms_RecruiterEmail_Status] ON [dbo].[Forms]
(
	[RecruiterEmail] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Forms_Status]    Script Date: 28-08-2025 01:35:14 ******/
CREATE NONCLUSTERED INDEX [IX_Forms_Status] ON [dbo].[Forms]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Forms_UniqueUrl]    Script Date: 28-08-2025 01:35:14 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Forms_UniqueUrl] ON [dbo].[Forms]
(
	[UniqueUrl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PersonalInfo_Email]    Script Date: 28-08-2025 01:35:14 ******/
CREATE NONCLUSTERED INDEX [IX_PersonalInfo_Email] ON [dbo].[PersonalInfo]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PersonalInfo_FirstName_LastName]    Script Date: 28-08-2025 01:35:14 ******/
CREATE NONCLUSTERED INDEX [IX_PersonalInfo_FirstName_LastName] ON [dbo].[PersonalInfo]
(
	[FirstName] ASC,
	[LastName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PersonalInfo_FormId]    Script Date: 28-08-2025 01:35:14 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PersonalInfo_FormId] ON [dbo].[PersonalInfo]
(
	[FormId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Documents] ADD  DEFAULT (getutcdate()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[Documents] ADD  DEFAULT (N'Pending') FOR [VerificationStatus]
GO
ALTER TABLE [dbo].[Documents] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsBlurred]
GO
ALTER TABLE [dbo].[Documents] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsCorrectType]
GO
ALTER TABLE [dbo].[EmailLogs] ADD  DEFAULT (getutcdate()) FOR [AttemptedAt]
GO
ALTER TABLE [dbo].[EmailLogs] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Success]
GO
ALTER TABLE [dbo].[EmailQueue] ADD  DEFAULT (N'Pending') FOR [Status]
GO
ALTER TABLE [dbo].[EmailQueue] ADD  DEFAULT ((0)) FOR [RetryCount]
GO
ALTER TABLE [dbo].[EmailQueue] ADD  DEFAULT ((3)) FOR [MaxRetries]
GO
ALTER TABLE [dbo].[EmailQueue] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[EmailQueue] ADD  DEFAULT ((1)) FOR [Priority]
GO
ALTER TABLE [dbo].[Forms] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Forms] ADD  DEFAULT (N'Pending') FOR [Status]
GO
ALTER TABLE [dbo].[PersonalInfo] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD  CONSTRAINT [FK_Documents_Forms_FormId] FOREIGN KEY([FormId])
REFERENCES [dbo].[Forms] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Documents] CHECK CONSTRAINT [FK_Documents_Forms_FormId]
GO
ALTER TABLE [dbo].[EmailLogs]  WITH CHECK ADD  CONSTRAINT [FK_EmailLogs_EmailQueue_EmailQueueId] FOREIGN KEY([EmailQueueId])
REFERENCES [dbo].[EmailQueue] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmailLogs] CHECK CONSTRAINT [FK_EmailLogs_EmailQueue_EmailQueueId]
GO
ALTER TABLE [dbo].[EmailQueue]  WITH CHECK ADD  CONSTRAINT [FK_EmailQueue_Forms_FormId] FOREIGN KEY([FormId])
REFERENCES [dbo].[Forms] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[EmailQueue] CHECK CONSTRAINT [FK_EmailQueue_Forms_FormId]
GO
ALTER TABLE [dbo].[PersonalInfo]  WITH CHECK ADD  CONSTRAINT [FK_PersonalInfo_Forms_FormId] FOREIGN KEY([FormId])
REFERENCES [dbo].[Forms] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PersonalInfo] CHECK CONSTRAINT [FK_PersonalInfo_Forms_FormId]
GO
USE [master]
GO
